.game-collection-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.game-collection-text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.game-collection-text h1 {
    color: black;
    font-size: 3rem;
}

.game-collection-text span {
    color: black;
    width: 400px;
}


iframe {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

iframe:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: scale(1.01);
}