.game-collection-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100vw;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    overflow: scroll;
    height: 100%;

}

.game-collection-text {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.game-collection-text h1 {
    color: black;
    font-size: 3rem;
    font-family: 'Acorn';
}

.game-collection-text span {
    color: black;
    width: 90%;
    line-height: 1.6;
    letter-spacing: 0.5px;
    font-size: 1.1rem;

}


iframe {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

iframe:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: scale(1.01);
}