.formReport {
    display: flex;
    flex-direction: column;
    margin: 0rem 2rem;
    width: min-content;
}

.report-send {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 100%;
}

.report-send h1 {
    color: black;
    font-size: 2rem;
}

.report-send h2 {
    color: black;
    font-size: 1rem;
    margin: 0;
}

.required-field {
    width: fit-content;
}

.required-field::after {
    content: " *";
    color: red;
    font-weight: bold;
    margin-left: 5px;
    position: relative;
    top: -1px;

}

.formGrid {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 1rem;
    grid-template-areas: "text map";
    width: fit-content;
}

@media all and (max-width: 1000px) {
    .formGrid {
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
        grid-template-areas: "text" "map";
    }
}

.formReport h1 {
    color: black;
    font-size: 2rem;
}

.textColum {
    grid-area: text;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 300px;
}

.mapColum {
    grid-area: map;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 2rem;
    width: fit-content;
}

.mapColum span {
    width: 150px;
    margin-bottom: 0.2rem;
}

.formReport select,
.formReport textarea,
.formReport input {
    margin-bottom: 0.5rem;
    width: 100%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 5px;
    padding: 0.2rem;
    box-sizing: border-box;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
    resize: none;
}

.emptySelect {
    outline: 2px solid red;
}

.formReport button {
    margin-top: 2rem;
    width: 6rem;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.formReport h1 {
    margin-bottom: 2rem;
    margin-top: 3rem;
}

.buttonBox {
    display: flex;
    justify-content: center;
}

.formReport button {
    background-color: #3330de;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.formReport button:disabled {
    background-color: rgb(111, 109, 109);
}

.formReport button:disabled:hover {
    background-color: rgb(111, 109, 109);
    color: white;
    transform: scale(1);
    cursor: default;
}

.formReport button:hover {
    background-color: #27a5ee;
    color: black;
    transform: scale(1.15);
}

@media all and (max-width: 750px) {
    .formReport {
        padding: 2rem 1rem;
        margin: 0% 9% 6% 9%;
    }

    .formGrid {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .formReport select,
    .formReport textarea {
        font-size: 1rem;
    }
}

@media all and (max-width: 500px) {
    .formReport {
        margin: 0% 3% 2% 3%;
        padding: 2rem 1rem;
    }

    .formGrid {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .formReport select,
    .formReport textarea {
        font-size: 1rem;
    }

    .mapColum {
        padding-left: 0rem;
    }
}

.success-animation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.circle-check {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid green;
    position: relative;
    animation: circle-grow 1s ease-out forwards;
}


.circle-check::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 40px;
    border-right: 5px solid green;
    border-bottom: 5px solid green;
    transform: rotate(45deg);
    top: 22px;
    left: 35px;
    opacity: 0;
    animation: check-draw 0.5s 1s ease forwards;
}

@keyframes circle-grow {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes check-draw {
    to {
        opacity: 1;
    }
}