body,
html {
  height: 100%;
  margin: 0;
  height: 100vh;
  font-family: sans-serif;
}

#root {
  height: 100%;
}

.App {
  text-align: left;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  min-width: 100%;
  min-height: 100%;
  align-items: center;
  transition: all 1s ease-in-out;
}

.App h1 {
  font-size: 5rem;
  font-weight: 700;
  color: white;
  margin-bottom: 0rem;
}

.App h2 {
  font-size: 2rem;
  font-weight: 500;
  color: white;
  margin: 0rem 0rem 2rem 2rem;
}

@keyframes whoosh {
  0% {
    background-position-x: 0
  }

  100% {
    background-position-x: 100%
  }
}

.animated-thing {
  animation-name: whoosh;
  animation-duration: 2000ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* Credits to https://www.gradient-animator.com/ */
.App {
  background: linear-gradient(196deg, #41e0b7, #248cb5, #41e0b7);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 35s ease infinite;
  -moz-animation: AnimationName 35s ease infinite;
  -o-animation: AnimationName 35s ease infinite;
  animation: AnimationName 35s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 73% 0%
  }

  50% {
    background-position: 28% 100%
  }

  100% {
    background-position: 73% 0%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 73% 0%
  }

  50% {
    background-position: 28% 100%
  }

  100% {
    background-position: 73% 0%
  }
}

@-o-keyframes AnimationName {
  0% {
    background-position: 73% 0%
  }

  50% {
    background-position: 28% 100%
  }

  100% {
    background-position: 73% 0%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 73% 0%
  }

  50% {
    background-position: 28% 100%
  }

  100% {
    background-position: 73% 0%
  }
}