  body {
    font-family: sans-serif;
    transition: all 1s ease-in-out;
  }
  
  .accordion-icon {
    border: solid currentcolor;
    border-width: 0 2px 2px 0;
    display: inline-block;
    height: 8px;
    pointer-events: none;
    transform: translateY(-2px) rotate(45deg);
    width: 8px;
    margin-left: 0.2rem;
  }
  
  .accordion-icon--rotated {
    transform: translateY(2px) rotate(-135deg);
  }

  .accordion-card{
    width: 500px;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 3%/5%;
    font-family: "Montserrat", sans-serif;
  }

  .accordion-card h1{
    font-weight: 800;
    font-size: 3rem;
    color: #1331b4;
    background-image: -webkit-linear-gradient(45deg, #1331b4 27%, #1e8cdb 65%);
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  }

  .header-item{
    background-color: rgb(236, 236, 236);
    padding: 1rem;
    border-radius: 1%/10%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 500;
    color: #1331b4;
  }

  

  .acccordion-item {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 1rem;
    border-radius: 0% 0% 1% 1%/10%;
  }
  
  @keyframes inAnimation {
    0% {
      opacity: 0;
      visibility: hidden;
      display: none;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }
  
  @keyframes outAnimation {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      visibility: hidden;
      display: none;
    }
  }
  


  /* Define keyframes for rotation animation */
@keyframes rotateOpen {
  from {
      transform: rotate(45deg);
  }
  to {
      transform: rotate(224deg);
  }
}

@keyframes rotateClose {
  from {
      transform: rotate(224deg);
  }
  to {
      transform: rotate(45deg);
  }
}

/* Define keyframes for expanding and collapsing content */
@keyframes expand {
  from {
      max-height: 0;
      padding: 0rem;
      opacity: 0;
  }
  to {
      max-height: 1000px; /* Adjust to fit your content */
      padding: 1rem;
      opacity: 1;
  }
}

@keyframes collapse {
  from {
      max-height: 1000px; /* Adjust to fit your content */
      padding: 1rem;
      opacity: 1;
  }
  to {
      max-height: 0;
      padding: 0rem;
      opacity: 0;
      
  }
}

/* Add animation classes */
.rotateOpen {
  animation: rotateOpen 150ms ease-in forwards;
  transform: translateY(5px) rotate(224deg);
}

.rotateClose {
  animation: rotateClose 150ms ease-in forwards;
  transform: translateY(-5px) rotate(45deg),
}

.expand {
  animation: expand 250ms ease-in forwards;
}

.collapse {
  animation: collapse 250ms ease-out forwards;
}
